numpy==1.15.4
pyzmq==18.0.1
zeroconf==0.21.3
PyQt5==5.11.3
pyqtgraph==0.10.0
sphinx_rtd_theme
docutils==0.14
Sphinx==1.8.5
https://ohwr.org/project/distributed-oscilloscope/wikis/uploads/83b8f430e9a18bd9d7ad3ce3af91c5e0/PyWrtd-1.0.tar.gz
decorator==4.4.0
https://ohwr.org/project/distributed-oscilloscope/wikis/uploads/caeb3bb83f9a12920a61934d346f1173/PyAdcLib-1.0.tar.gz
